@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --var-logo-image: url('/images/h_logo.png');
    /* or any other variables/style */
}

[data-theme='dark'] {
    --var-logo-image: url('/images/h_logo_w.png');
}

[data-theme='cupcake'] {
    --var-logo-image: url('/images/h_logo.png');
}

[data-theme=''] {
    --var-logo-image: url('/images/h_logo.png');
}

.logo-image {
    content: var(--var-logo-image);
}